<mat-sidenav-container fullscreen autosize>
  <mat-sidenav #sidenav class="app-sidenav" mode="side">
    <mat-toolbar class="white"> </mat-toolbar>
    <mat-nav-list class="mat-nav-list">
      <mat-list-item (click)="sidenav.toggle()" [routerLink]="item.route" *ngFor="let item of mainListItems">
        <mat-icon  class="icons-sidenav">{{item.icon}}</mat-icon>
        <span class="ml-3">{{ item.name }}</span>
      </mat-list-item>

      <mat-divider></mat-divider>
      <div class="mat-subheader">Places</div>

      <mat-list-item (click)="sidenav.toggle()" [routerLink]="item.route" *ngFor="let item of secondaryListItems">
        <mat-icon  class="icons-sidenav">{{item.icon}}</mat-icon>
        <span class="ml-3">{{ item.name }}</span>
      </mat-list-item>

      <mat-divider></mat-divider>
      <div class="mat-subheader">Settings</div>

      <mat-list-item (click)="sidenav.toggle()" [routerLink]="item.route" *ngFor="let item of settingsListItems">
        <mat-icon  class="icons-sidenav">{{item.icon}}</mat-icon>
        <span class="ml-3">{{ item.name }}</span>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar id="appToolbar"  color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" class="mat-icon-button sidenav-toggle-button" [hidden]="sidenav.opened">
        <mat-icon aria-label="Menu" class="material-icons">menu</mat-icon>
      </button>
      <span class="title-toolbar">
        COVID19mg App
      </span>
      <span class="spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="p-1">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
