.spacer {
  flex: 1 1 auto;
}
.title-toolbar {
  display: inline-block;
  margin-left:2rem;
}
.icons-sidenav {
  display: inline-block;
  margin:0 .5rem;
}
.mat-nav-list .mat-list-item {
  padding:0 1rem;
}
.p-1 {
  padding:1rem;
}
