<h1 class="text-3xl text-center my-2">Districts</h1>
<div class="flex flex-wrap justify-center">
  <h2 class=" w-9/12">Liste des districts</h2>
  <mat-form-field class=" w-3/12">
    <mat-label>Search</mat-label>
    <input matInput type="text" >
    <button mat-button matSuffix mat-icon-button aria-label="Clear">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
      <td mat-cell *matCellDef="let element">  {{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Région </th>
      <td mat-cell *matCellDef="let element">  {{ element.region }}</td>
    </ng-container>

    <ng-container matColumnDef="province">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Province </th>
      <td mat-cell *matCellDef="let element">  {{ element.province }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="communes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Communes (nombre) </th>
      <td mat-cell *matCellDef="let element"> {{element.communes.length}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

